

.project .homepeasy .homepeasyInfo div span
{
	width: 100px;
}

.project .homepeasy .homepeasyImage1
{
	margin-top: 20px;
	
	width: 80%;
	height : 100%;
	
	border: 1px solid red;
}

.project .homepeasy .homepeasyImage1 .carousel .carousel-item .carousel-caption
{
	color: white;
}

.project .homepeasy .homepeasyImage1 .carousel .carousel-control-prev .carousel-control-prev-icon,
.project .homepeasy .homepeasyImage1 .carousel .carousel-control-next .carousel-control-next-icon
{
	background-color: black;
}

.project .homepeasy .homepeasyImage1 .carousel .carousel-indicators li
{
	background-color: black;
}

.project .homepeasy .homepeasyImage1 .carousel .carousel-inner .carousel-item .carousel-caption
{
	background-color: rgba(0,0,0,0.5);
}