:root
{
	--subject-carousel-bg: #c0c0c0;	
}

.subject .list-group .subjectSort,
.subject .list-group .subjectScore
{
	width: 100px;
}

.subject
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.subject .list-group .subjectName
{
	width: 250px;
}

.subject .list-group .subjectAvg,
.subject .list-group .subjectTotal
{
	width: 225px;
}