
.myPageContainer
{
	display: flex;
	
	margin-top: 150px;
}

.myPageContainer .menuLeft
{
	width: 15%;
	justify-content: left;
}

.myPageContainer .menuRight
{
	margin-left: 28%;
	justify-content: center;

}

.myPageContainer .menuRight .input-group span
{
	width: 150px;
	justify-content: center;
}

.myPageContainer .menuRight .input-group button
{
	width: 100%;
}