

.hidden 
{
	display: none !important;
}



.PortfolioContainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-top: 150px;
}

.PortfolioContainer .PortfolioMenu
{
	width: 15%;
}

.PortfolioContainer .PortfolioView
{
	margin-left: 5%;
	
	width: 80%;
}

.PortfolioContainer .PortfolioMenu .list-group .PortfolioList
{
	overflow: hidden;
}